h1.text-body { color: yellow !important; }

.nav img { height: 95px !important }
#nav { padding: 0 0 0 0 !important }
.navbar-custom-img { background: #bfbfbf url('/images/bg-header.jpg') no-repeat top center }

article:nth-child(even) { 
   width: 90%;
    border-radius: 25px;
    background: #868e968f;
    padding: 20px !important;
}

article:nth-child(odd){ 
    width: 90%;
     border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
 }

 article img {
     float: left;
     padding: 10px;
 }

 code, section .bg-light code, section .bg-light pre {
     background-color: #f8f9fa !important;
     color: black !important;
 }

 div.ads img {
    filter: grayscale(1) !important;
 }